/* Base styles */

body {
    font-family: monospace;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px; /* Add space between labels */
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
input[type="password"],
select,
button {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px; /* Add space between form elements */
}

button {
    background-color: #2e4d5a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2e4d5a;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}


@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
        margin: 50px auto;
    }

    input[type="text"],
    input[type="date"],
    input[type="tel"],
    input[type="email"],
    input[type="password"],
    select,
    button {
        width: 100%;
    }
}
